:root {
    --background-color: #E74C3C;
    --header-color: #2C3E50;
    --weekday-color: #3498DB;
    --weekend-color: #E74C3C;
    --event-color: #F1C40F;
    --text-color: #F7F9FC;
    --border-color: #BDC3C7;
}

body {
    background-color: var(--weekday-color);
    font-family: cursive;
    font-size: 16px;
    margin: 0  0 0 0;
    display: flex;
    flex-direction: coloumn;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

}

.container div{
    
    margin: 10px;
    
    
    
}

.container span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    background-color: var(--weekend-color);
    color: var(--text-color);
    opacity: 0.9;
    padding: 20px;
    

}
.container .text{
    font-size: 20px;
    background-color: #ea3925;
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bolder;

    
}


#ampm{
    font-size: 20px;
    color: var(--text-color);
    font-weight: bolder;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    font-size: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: var(--header-color);
    
}
p{
    position: absolute;
    bottom: 0%;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    word-spacing: 1px;
    
}
.footer{
    text-decoration: underline;
    color: wheat;
    font-weight: bolder;
}

.footer:hover{
    color: #000;
    text-decoration: none;
    font-size: 22px;
}